body
{
	background-color: #161921;
	color: #ffffff;
}

.border-fancy {
	background: linear-gradient(to right, #191b24, #191b24), linear-gradient(to bottom right, #8b5cf6, #db2777);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	border: 2.1px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
